.layout {
  width: 100vw;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  overflow: hidden;

  .waitContainer {
    // background: #1b2735;
    border-radius: 8px;
    width: 72%;
    height: 90%;
    padding: 20px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;

    .waitHeader {
      display: flex;
      justify-content: space-between;
      align-items: center;
      width: 100%;
      margin-bottom: 20px;
      height: 68px;

      .header {
        display: flex;
        align-items: center;
        justify-content: flex-start;
        gap: 20px;
        .title {
          font-size: 24px;
          font-weight: bold;
          text-align: center;
          flex-grow: 1;
        }
      }

      .controls {
        justify-content: space-between;
        display: flex;
        gap: 10px;
      }

      .radioWrapper {
        width: 240px;
        display: flex;
        align-items: center;
      }
    }

    .container {
      display: flex;
      justify-content: space-between;
      gap: 40px;
      width: 100%;
      height: 100%;

      .versus {
        // display: flex;
        // align-items: center;
        // justify-content: center;
        font-size: 40px;
        font-weight: bold;
        display: flex;
        flex-direction: column;
        justify-content: center;
        height: 80%;
      }

      .box {
        flex: 1;
        display: flex;
        flex-direction: column;
        justify-content: center;
        height: 80%;
      }
      .chatbox {
        display: flex;
        flex-direction: column;
        justify-content: center;
        height: 50%;
        width: 50%;
      }
      .left {
        padding: 20px;
        padding-left: 0;
        display: flex;
        justify-content: flex-start;
        align-items: center;
        gap: 12px;
      }
      .right {
        padding: 20px;
        padding-right: 0;
        display: flex;
        justify-content: flex-end;
        align-items: center;
        gap: 12px;
      }

      .buttons {
        display: flex;
        width: 100%;
        align-items: center;
        gap: 12px;

        button {
          height: 80%;
          width: 70%;
          border-radius: 8px;
          font-size: 40px;
          font-weight: bold;
          color: white;
          cursor: pointer;
          transition: transform 0.3s ease;
        }

        .readyButton {
          background-color: #3b4d71;
          &:hover {
            transform: translateY(-5px);
          }
        }

        .startButton {
          background-color: #ff6b6b;
          &:hover {
            transform: translateY(-5px);
          }
        }
      }
    }

    .top {
      height: 44%;
    }
  }
}
