$C_PRIMARY: #ffbb5c;
$C_PRIMARY_HOVER: #f3a941;

$C_SECONDARY: #213363;
$C_SECONDARY_HOVER: #3c5393;

$C_TERTIARY: #7cadf7;
$C_TERTIARY_HOVER: #8ab7fc;

$C_WHITE: #fff;

$C_RED: #ff0000;
$C_GREEN: #00aa77;
