$C_PRIMARY: #6c72ff;
$C_PRIMARY_HOVER: #7d81fb;

$C_SECONDARY: #080f25;
$C_SECONDARY_HOVER: #0d173a;

$C_TERTIARY: #53b8f4;
$C_TERTIARY_HOVER: #60bef5;

$C_WHITE: #fff;
$C_RED: #c94a59;
$C_GREEN: #159464;
$C_YELLOW: #a88d2b;

$C_BORDER: #101935;
$C_DARKBOX: #101935;
