$primary: var(--primary-color, #ffbb5c);
$secondary: var(--secondary-color, #213363);
$bg-light: var(--bg-light-color, #fff);
$bg-dark: var(--bg-dark-color, #213363);
$text-color-white: var(--text-color-white, #fff);

$config: (
  default: (
    bg-color: $bg-light,
    text-color: $secondary,
  ),
  dark: (
    bg-color: $bg-dark,
    text-color: $text-color-white,
  ),
);
